<!-- Feel free to remove this div. Uses purplecoat: http://ellekasai.github.io/purplecoat.js -->
<div data-purplecoat="shiori" data-purplecoat-label="sidebar.html">
  <h3 class="section-header">
    We are Community Powered
  </h3>
  <span>Suggest changes and add your perspective:</span>
  <br>
  <!-- add 1em of space below -->
  <br>

  <p><a href="https://github.com/collaborative-economics-lab/site/" target="_blank" class="btn btn-primary"><i class="fa fa-github fa-lg"></i> View on GitHub &rarr;</a></p>
  <h3>
    Why we're here
  </h3>

  <p>
    <span>Collaborative Economics is a new field of study dedicated to building systems that connect people fairly, without exploitation. This is a collection of perspectives and observations about how people interact with eachother.</span>
    <br><br>
    <span>We only hope to inspire, so please join the conversation and let us know what you think.</span>

    <!-- a small callout button prompts to 'read the welcome post' -->
    <br><br>
    <a href="{{ "/welcome" }}" class="btn btn-default btn-block">Read the Welcome Post &rarr;</a>

    <!-- social icons follow -->
    <br> <br>

    <a href="http://twitter.com/ellekasai" target="_blank" class="btn btn-info"><i class="fa fa-twitter fa-lg"></i></a>

    <!-- reddit -->
    <a href="http://reddit.com/u/ellekasai" target="_blank" class="btn btn-danger"><i class="fa fa-reddit fa-lg"></i></a>

  </p>

</div>

<p>&uarr; Powered by <a href="http://ellekasai.github.io/purplecoat.js" target="_blank">Purplecoat</a> and <a href="https://github.com/ellekasai/shiori" target="_blank" class="btn btn-primary">Shaori</a>.</p>
